.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.1);
    margin-top:30px;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
 .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 32px;
    box-shadow: none;
}
.woocommerce table.shop_table th {
    font-weight: 700;
    padding: 9px 12px;
}
th {
    text-align: left;
}
.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img {
    height: auto;
}
input, button, select, textarea, label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.woocommerce input.button {
    font-size: 14px;
    font-weight: 400;
    background-color: #32c5d2;
    color: #fff;
}
#add_payment_method table.cart input, .woocommerce-cart table.cart input, .woocommerce-checkout table.cart input {
    margin: 0;
    vertical-align: middle;
    line-height: 1;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
    float: none;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    padding: .690em 1em;
}
.divide80 {
    width: 100%;
    height: 80px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
    width: auto;
}
#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
    float: left;
    box-sizing: border-box;
    border: 1px solid #d3ced2;
    padding: 6px 6px 5px;
    margin: 0 4px 0 0;
    outline: 0;
    line-height: 1;
}
.woocommerce input[type="text"], .woocommerce input[type="password"], .woocommerce input[type="email"], .woocommerce input[type="url"], .woocommerce input[type="tel"], .woocommerce input[type="date"], .woocommerce input[type="search"], .woocommerce textarea, .woocommerce select {
    border: 1px solid #ccc;
    padding: 6px 12px;
    background-image: none;
    display: block;
    height: 34px;
    line-height: 1.42857;
    width: 100%;
    border-radius: 2px;
    font-size: 13px;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red!important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
}
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 32px;
    box-shadow: none;
}
.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0,0,0,.1);
}
.woocommerce table.shop_table td {
    padding: 10px 12px;
}
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #999;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    background-color: #fff;
    font-family: "Source Sans Pro", sans-serif;
}
.woocommerce .cart-collaterals .cart_totals h2, .woocommerce-page .cart-collaterals .cart_totals h2 {

    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #424242;
    padding: 0px;
    margin-bottom: 0px;
}
.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce .single_variation_wrap .button.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 14px;
    font-weight: 400;
    background-color: #32c5d2;
    color: #fff;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;

    padding: 1em;
}